/*-------------Features-2-------------*/

.features-2 {
  padding-top: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: $accent-color_bg;
    padding: 100px;
    max-width: 870px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

  }

  &__img {
    position: absolute;
    left: 120px;
    bottom: 90px;

  }

  &__info {
    max-width: 335px;

  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 15px;
    @extend %dmsans-700;
  }

  &__descr {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 15px;
    @extend %rubik-400;
  }

  &__link {
    @extend %link;
  }
}

@media (max-width: 1775px) {
  .features-2__inner{
    display: block;
  }
  .features-2__item{
    max-width: 100%;
    align-items: center;
    padding: 145px 0 145px 270px;
  }
  .features-2__info{
    max-width: 560px;
    width: 100%;
  }
  .features-2__img {
    position: absolute;
    left: 25px;
    bottom: 10px;
  }
}

@media (max-width: 1200px){
  .features-2__item{
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .features-2__img {
    position: absolute;
    left: 25px;
    bottom: 137px;
    width: 170px;
    height: auto;
  }
  .features-2__item{
    padding: 145px 0 145px 210px;
  }
}

@media (max-width: 540px) {
  .features-2__img {
    width: 115px;
  }
  .features-2__item{
    padding: 285px 0 50px 10px;
  }
  .features-2__img{
    top: 30px;
    left: 30px;
  }
  .features-2__descr {
    font-size: 14px;
  }


}