html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__small {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

a {
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  @extend %rubik-500;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  color: #191919;
  text-align: center;
  @extend %dmsans-700;
}

.top {
  background-color: #edf1f4;
  padding: 30px 0;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
    @extend %rubik-400;
  }
}

.breadcrumbs__list {
  display: flex;
  justify-content: center;
}

.breadcrumbs__item {
  margin: 0 10px;
  position: relative;

  &::after {
    content: "/";
    position: absolute;
    right: -13px;
    top: 3px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  opacity: 0.6;
  font-size: 14px;
  line-height: 24px;
  color: #222933;
  @extend %rubik-400;

}