html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__small {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

a {
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  @extend %rubik-500;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  color: #191919;
  text-align: center;
  @extend %dmsans-700;
}


.View_All {
  font-size: 16px;
  font-family: "DMSans";
  color: rgb(38, 38, 38);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1458.937px;
  top: 4279.9px;
  z-index: 66;
}