<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/terms.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    {% include 'app/module/_top/_top.html' %}

    <section class="terms">
      <div class="container__small">
        <h5 class="terms__title">
          Types of Personal Information We Collect
        </h5>
        <ol class="terms__list">
          <li class="terms__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </li>
          <li class="terms__item">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li class="terms__item">
            Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
          </li>
          <li class="terms__item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </li>
        </ol>

        <h5 class="terms__title">
          How marketpmss.com Collects Personal Infonnation
        </h5>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>

        <h5 class="terms__title">
          How marketprosscom Uses Personal Information
        </h5>
        <p class="terms__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore
        </p>
      </div>
    </section>





    <section class="blog">
      <div class="container__small">
        <div class="blog__top">
          <h2 class="blog__top-title title">
            Our Insights & Articles
          </h2>
          <a class="blog__top-link" href="#">
            View All
          </a>
        </div>
        <div class="blog__content">

          <div class="blog__item">
            <div class="blog__item-img__box">
              <img class="blog__item-img" src="images/blog/1.jpg" alt="blog__item-img">
              <a class="blog__item-link" href="#">
                NEWS
              </a>
            </div>

            <div class="blog__item-info__box">
              <h5 class="blog__item-info__title">
                <a class="" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
              </h5>
              <div class="blog__item-info__inner">
                <a class="blog__item-info__data" href="#">
                  28 JANUARY, 2020
                </a>
                <a class="blog__item-info__name" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>

          <div class="blog__item">
            <div class="blog__item-img__box">
              <img class="blog__item-img" src="images/blog/2.jpg" alt="blog__item-img">
              <a class="blog__item-link" href="#">
                NEWS
              </a>
            </div>

            <div class="blog__item-info__box">
              <h5 class="blog__item-info__title">
                <a class="" href="#">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </a>
              </h5>
              <div class="blog__item-info__inner">
                <a class="blog__item-info__data" href="#">
                  28 JANUARY, 2020
                </a>
                <a class="blog__item-info__name" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>

          <div class="blog__item">
            <div class="blog__item-img__box">
              <img class="blog__item-img" src="images/blog/3.jpg" alt="blog__item-img">
              <a class="blog__item-link" href="#">
                NEWS
              </a>
            </div>
            <div class="blog__item-info__box">
              <h5 class="blog__item-info__title">
                <a class="" href="#">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </a>
              </h5>
              <div class="blog__item-info__inner">
                <a class="blog__item-info__data" href="#">
                  28 JANUARY, 2020
                </a>
                <a class="blog__item-info__name" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="partners">
      <div class="container__small">
        <div class="partners__inner">
          <img src="images/partners/1.png" alt="partners logo">
          <img src="images/partners/2.png" alt="partners logo">
          <img src="images/partners/3.png" alt="partners logo">
          <img src="images/partners/4.png" alt="partners logo">
          <img src="images/partners/5.png" alt="partners logo">
        </div>
      </div>
    </div>
  </main>

   {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>