/*-------------Footer-------------*/

.footer-top {
  display: flex;
  // justify-content: space-between;
  padding: 100px 0;
  border-bottom: 1px solid rgba($color: #a3bbc8, $alpha: .4);

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__services {
    width: 200px;
    margin-right: 100px;
  }

  &__account {
    width: 200px;
    margin-right: 100px;
  }

  &__adress {
    display: block;
    width: 185px;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 10px;
  }

  &__tel,
  &__mail {
    line-height: 32px;
  }

  &__link {
    line-height: 14px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    padding-top: 15px;
    margin-bottom: 25px;
    @extend %dmsans-700;
  }

  &__text {
    width: 235px;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 40px;
    @extend %rubik-400;
  }

  &__form {
    display: flex;
  }

  &__input {
    display: block;
    width: 170px;
    font-size: 12px;
    line-height: 1.2;
    color: #234969;
    border: none;
    background-color: $default-color_bg;
    padding: 14px;
    @extend %dmsans-400;

    &::placeholder {
      font-size: 12px;
      line-height: 1.2;
      color: #234969;
      @extend %dmsans-400;
    }
  }

  &__btn {
    display: block;
    width: 100px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    border: none;
    background-color: #a3bbc8;
    padding: 10px 19px 10px 16px;
    cursor: pointer;
    @extend %dmsans-400;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %rubik-400;
  }

  &__nav {
    display: flex;
  }

  &__item {
    padding: 0 10px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__item+.footer-bottom__item {
    border-left: 1px solid #234969;
  }

  &__link {
    line-height: 17px;
  }
}
