/*-------------Top-Slider-------------*/

.top-slider {
  padding: 225px 0 280px;
  background-color: #fcd7b6;
  max-width: 1770px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    width: 622px;
    height: 634px;
    background-color: rgba(67, 99, 114, 0.0);
    background-image: linear-gradient(-90.0deg, #ffffff 0%, rgba(255, 255, 255, 0.0) 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
  }

  &__box {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    max-width: 412px;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 30px;
    @extend %rubik-500;
  }

  &__text {
    max-width: 362px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 30px;
    @extend %rubik-400;
  }

  &__link {
    width: 200px;
    padding: 20px 40px 20px 30px;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    background-color: #a3bbc8;
    @extend %rubik-500;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/arrow-btn.png");
      width: 22px;
      height: 9px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: -210px;
  left: 50%;
  transform: translateX(-50%);

  & li {
    padding: 0 5px;
  }

  & button {
    border: none;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 8px;
    color: #243f4d;
    background-color: #ffffff;
    opacity: .3;
    cursor: pointer;
    @extend %rubik-500;
  }
}

.slick-active {
  & button {
    opacity: 1;
  }
}