/*-------------Blog-------------*/

.blog {
  padding-top: 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  &__top-title {
    color: #1a1a1a;
    line-height: 1;
  }

  &__top-link {
    font-size: 16px;
    line-height: 1.2;
    color: #262626;
    padding-right: 25px;
    position: relative;
    @extend %dmsans-700;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 7px;
      height: 12px;
      background-image: url('../images/blog/arrow-link.png');
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;

  }

  &__item-img__box {
    width: 370px;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    object-fit: cover;
  }

  &__item-info__box {
    padding: 35px 28px 10px;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
  }

  &__item-link {
    width: 103px;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 15px;
    position: absolute;
    padding: 0 30px;
    bottom: -15px;
    left: 27px;
  }

  &__item-info__title {
    max-width: 315px;


    & a {
      width: 286px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
      color: #262626;
      margin-bottom: 15px;
    }
  }

  &__item-info__inner {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
  }

  &__item-info__data,
  &__item-info__name {
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    text-transform: uppercase;
    @extend %rubik-400;
    margin-right: 30px;
    padding-left: 18px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  &__item-info__data::before {
    background-image: url('../images/icon/calendar-alt-regular.svg');
    width: 14px;
    height: 16px;
  }

  &__item-info__name::before {
    background-image: url('../images/icon/user-regular.svg');
    width: 12px;
    height: 14px;
  }
}

@media (max-width:1150px) {
  .blog__content{
    display: block;
  }
  .blog__item{
    max-width: 700px;
    margin: 0 auto;
  }
  .blog__item-img__box{
    max-width: 700px;
    width: 100%;
    height: auto;
  }
  .blog__item-img{
    max-width: 700px;
    width: 100%;
    
  }
  .blog__item-info__box{
    padding: 30px 15px;
  }
}

@media (max-width:768px) {
  .blog__top-title{
    font-size: 25px;
  }
}

@media (max-width: 440px) {
  .blog__top{
    display: block;
  }
  .blog__top-title{
    font-size: 21px;
    text-align: left;
    margin-bottom: 20px;
  }
  .blog__top-link{
    font-size: 11px;
    display: inline-block;
  }
  .blog__item-info__title{
    a{
      font-size: 15px;
    }
  }
}

@media (max-width: 352px) {
  .blog__item-info__title{
    a{
      font-size: 13px;
    }
  }
  .blog__item-info__inner{
    display: block;
  }
  .blog__item-info__box{
    display: block;
    max-width: 320px;
    width: 100%;
  }
}