/*-------------Partners-------------*/

.partners {
  padding: 260px 0 90px;
  background-color: $default-color_bg;
  margin-top: -170px;
}

.partners--login {
  padding: 83px 0;
  margin-top: 0;
}

.partners__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1150px) {
  .partners{
    margin-top: 50px;
    padding: 70px 0;
    img{
      margin: 10px;
    }
  }
}

@media (max-width: 440px){
  .partners{
    img{
      margin: 10px auto;
    }
    
  }
  .partners__inner{
    display: block;
  }
}


